<h1>Welcome to the new free platform</h1>

<h3>The following is a unique token</h3>
<h3>register with it: <strong><%= @invitation.token %></strong></h3>

<%= link_to "Register page", new_user_registration_url %>
