<div class="row">
  <div class="col-xs-6 col-md-3">
    <h3>Your Apps</h3>
    <%= render "apps/apps_navigation" %>
  </div>
  <div class="col-xs-6 col-md-5 col-md-offset-2">
    <h2>Editing <strong><%= @app.subdomain %></strong> </h2>
    <%= render "apps/form" %>
  </div>
</div>
