<div class="row">
  <div class="col-xs-6 col-md-3">
    <div class="title-wrapper">
      <h3>Your Apps</h3>
    </div>
    <%= render "apps/apps_navigation" %>
  </div>
  <div class="col-xs-6 col-md-9">
    <div class="title-wrapper">
      <h3>App registration</h3>
    </div>
    <%= render "apps/form" %>
  </div>
</div>
