@import "bootstrap-sprockets";
@import "theme";
@import "bootstrap";

@import "apps";


body {
  padding-top: $navbar-height + 10px;
}

.has-error {
  .form-control {
    border-color: red;
    border-style: solid;
  }
  .help-block {
    color: red;
  }
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: red;
}

.title-wrapper {
  margin-bottom: 50px;
}
